{% from 'helpers.html' import render_string_field, render_select_field %}
<div class="modal fade" id="updateCashierProfileModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update cashier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <form class="d-inline" method="POST" action="{{ url_for('profile.update_cashier_profile', profile_id=cashier.id) }}">
                <div class="modal-body">
                    {{update_profile_form.hidden_tag()}}
                    {{ render_string_field(update_profile_form.first_name) }}
                    {{ render_string_field(update_profile_form.last_name) }}
                    {{ render_string_field(update_profile_form.telephone) }}
                    {{update_profile_form.id}}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{update_profile_form.submit(class="btn btn-info")}}
                </div>
            </form>
        </div>
    </div>
</div>