{% extends 'index/manager-base.html' %}
{% from 'helpers.html' import render_string_field, render_datetime_field %}

{% block bookings_history_active %}active{% endblock %}

{% block content %}
	<div class="container-fluid p-0">
		<div class="pre-scrollable bg-light border-bottom" style="max-height: 450px;">
			<table class="table table-sm table-responsive-md table-striped">
				<tbody>
					{% for booking in bookings %}
						<tr>
							<td class="text-nowrap  d-lg-none">
								{{booking.created_at|datetimeformat('%d %b %Y')}}</mall><br><br>
								<p class="text-nowrap"><span class="fa fa-bus"></span> {{booking.bus}}</p>
							</td>
							<td class="text-nowrap d-lg-none">
								<span class="badge badge-default badge-dark">{{booking.seat_number}}</span> {{booking.passenger_name}}<br><br>
								Seat {{booking.seat_number}}
							</td>

							<!-- <td class="d-none d-lg-inline"><span class="fa fa-bus"></span> {{booking.bus}}</td> -->
							<td class="d-none d-lg-table-cell">{{booking.created_at|datetimeformat('%d %b %Y')}}</td>
							<td class="d-none d-lg-table-cell"><span class="fa fa-bus"></span> {{booking.bus}}</td>
							<td class="d-none d-lg-table-cell"><span class="badge badge-default badge-dark">{{booking.seat_number}}</span> {{booking.passenger_name}}</td>
							<td class="d-none d-lg-table-cell">{{booking.branch}} branch</td>
							<td class="d-none d-lg-table-cell">{{booking.creator}}</td>
							<!-- <td class="d-none d-lg-block"><span class="fa fa-user"></span> {{booking.passenger_name}}</td> -->
							

							<td class="text-nowrap">{{booking.fare|currency}} {% if booking.paid %}<span class="fa fa-check"></span>{% endif %}</td>
							<td>
								<button class="fa fa-print" data-bus="{{bus}}" data-seat="{{booking.booked_grid}}" data-passenger="{{booking.passenger_name}}" data-from="{{booking.pickup}}" data-stop="{{booking.stop}}" data-fare="{{booking.fare|currency}}" onclick="printTicket(this)"></button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		{% if bookings|length==0 %}
			<p class="text-center text-muted display-4">No booking records found!</p>
		{% endif %}



		<div class="bg-light p-2 fixed-bottom shadow border-top">
			<form class="d-flex m-0 justify-content-center">
				{{ filter_bookings_form.csrf_token }}
				<div class="p-1">
					{{ render_string_field(filter_bookings_form.bus_id) }}
				</div>
				<div class="p-1">
					{{ render_datetime_field(filter_bookings_form.created_on_gte, "bookings-created-on-gte", datetime_format="MMMM DD YYYY", inline=False) }}
				</div>
				<div class="p-1">
					{{ render_datetime_field(filter_bookings_form.created_on_lte, "bookings-created-on-lte", datetime_format="MMMM DD YYYY", inline=False) }}
				</div>

				<div style="padding-top: 1.2rem;">
					{{ filter_bookings_form.submit() }}
				</div>
			</form>
		</div>
	</div>
{% endblock %}