<div id="busBookingsPatch">
	
	<table class="table table-sm table-responsive-sm border">
		<thead>
			<th>No</th>
			<th>Seat</th>
			<th>Passenger</th>
			<th>Payment</th>
			<th></th>
		</thead>
		<tbody>
		    {% for booking in bookings %}
		        <tr>
		            <td>{{loop.index}}</td>
		            <td>{{booking.booked_grid}}</td>
		            <td>{{booking.passenger_name}} <small>{{booking.passenger_telephone or ''}}</small></td>
		            <td>{{booking.fare}} {% if booking.paid %}<span class="fa fa-check"></span>{% endif %}</small></td>
		            <td>
		            	<form class="ajaxForm deleteForm d-inline" method="GET" action="{{ url_for('booking.delete_booking', booking_id=booking.id) }}" data-patch-containers='["#deleteBookingPatch"]' data-progress-container="#deleteBookingPatch">
	        				<button class="btn btn-link text-danger nav-link p-0 float-right" data-toggle="modal" data-target="#deleteBookingModal" ><span class="fa fa-times"></span></button>
	        			</form>
		            </td>
		        </tr>
		    {% else %}
		        <div class="container" align="center">
		            <p class="display-5 text-muted p-2">No Bookings!</p>
		        </div>
		    {% endfor %}
		</tbody>
	</table>

	<script type="text/javascript">
		$('.deleteForm').on('submit' , ajaxSubmit)	
	</script>

</div>
