{% from 'helpers.html' import render_string_field, render_boolean_field %}
{% if bus.journey %}
<div id="createBookingPatch" class="modal-body">
    {% if not bus.booking_time_expired() %}
    <form class="socketForm" data-event="create_booking" method="POST" id="createBookingForm" action="{{ url_for('booking.create_booking', grid_id=grid.id) }}">
        <div class="modal-body">
                Seat {{grid.number}}
                <hr>
                {{ create_booking_form.csrf_token }}

                {{ create_booking_form.grid_id(value=grid.id) }}
                {{ render_string_field(create_booking_form.passenger_name) }}
                {{ render_string_field(create_booking_form.passenger_telephone) }}
                {{ render_string_field(create_booking_form.pricing_id) }}
                {{ render_string_field(create_booking_form.pickup) }}
                {{ render_boolean_field(create_booking_form.paid) }}

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {{create_booking_form.submit(class="btn btn-info")}}
        </div>
    </form>

    <script type="text/javascript">
        $(".socketForm").on('submit', socketSubmit)
    </script>
    {% else %}
        <div class="alert alert-warning text-center shadow-sm">
            <p class="m-2">Booking time for this bus has ellapsed</p>
        </div>
    {% endif %}
</div>
{% else %}
<div class="modal-body text-center">
    <div class="alert alert-warning shadow-sm">
        <p class="m-2">Bus not yet scheduled!</p>
    </div>
    <p>Please schedule bus to start booking.</p>
</div>
{% endif %}