{% from 'helpers.html' import render_string_field, render_telephone_field %}
<div id="createPassengerBookingForm">
	<form action="{{ url_for('payment.create_payment_checkout', bus_id=bus.id) }}" method="POST" id="createPassengerBookingForm">
        <div>
            {{ create_passenger_booking_form.csrf_token }}

            {{ render_string_field(create_passenger_booking_form.grid_id) }}
            {{ render_string_field(create_passenger_booking_form.passenger_name) }}
            {{ render_telephone_field(create_passenger_booking_form.passenger_telephone, code_field=create_passenger_booking_form.telephone_code) }}
            {{ render_string_field(create_passenger_booking_form.pricing_id) }}
            {{ render_string_field(create_passenger_booking_form.pickup) }}
        </div>
        <div>
        	<button class="btn btn-block btn-primary">Checkout</button>
        </div>
    </form>
</div>