{% if current_user.is_authenticated %}
	{% extends 'index/passenger-base.html' %}
{% else %}
	{% extends 'index/home-base.html' %}
{% endif %}

{% block buses_active %}active{% endblock %}

{% block content %}
	<div class="container pt-2">
		<div class="login-content">
			<h2>Payment Summary</h2>

			<table class="table">
				<tbody>
					<tr><td>Passenger</td><td>{{payment.passenger_name}}</td></tr>
					<tr><td>Telephone</td><td>{{payment.passenger_telephone}}</td></tr>
					<tr><td>Seat</td><td>Seat {{payment.grid}}</td></tr>
					<tr><td>Fare</td><td>{{payment.amount|currency}}</td></tr>
					<tr><td>Journey</td><td>{{payment.journey}}</td></tr>
					<tr><td>Stop</td><td>{{payment.pricing}}</td></tr>
					<tr><td>Departure Time</td><td>{{payment.bus.departure_time|datetimeformat('%a, %d %b %Y %r')}}</td></tr>
				</tbody>
			</table>

			<hr>

			<div align="right">
				<a href="{{url_for('payment.pay_with_mobile_money', payment_id=payment.id)}}" class="btn btn-warning p-3">Pay with Mobile Money</a>
				<a href="{{url_for('payment.pay_with_card', payment_id=payment.id)}}" class="btn btn-primary p-3">Pay with Card</a>
			</div>
		</div>
	</div>
{% endblock %}