{% from 'helpers.html' import render_string_field %}

<div class="login-content">
    <form method="POST" action="{{ url_for('user.update_user_password') }}">
    	<h4 class="text-center">Update Password</h4>
    	<hr>
		<div class="card-body bg-white">
			{{ update_user_password_form.csrf_token }}
			{{ render_string_field(update_user_password_form.current_password) }}
			{{ render_string_field(update_user_password_form.new_password) }}
			{{ render_string_field(update_user_password_form.repeat_password) }}
		    <div align="center" class="border-0">
				<button class="btn btn-info">Change Password</button>
			</div>
		</div>
	</form>
</div>
