.fixed{
  position:sticky;
  top:0;
  z-index:1;
}

.login-form {
  background: #ffffff;
  padding: 30px 30px 20px;
  border-radius: 2px; }

  .login-content {
  max-width: 510px;
  margin: 2vh auto; }

  aside.left-panel {
  background: #4e4e52;
  display: table-cell;
  height: 100vh;
  min-height: 100%;
  padding: 0px 0px;
  vertical-align: top;
  width: 200px;
  -webkit-transition:width 0.3s ease;
  transition: width 0.3s ease; }

  .right-panel {
  display: table-cell;
  padding-left: 0 !important;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }


/* murri grid css */
  .grid {
      position: relative;
    }
    .item {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      padding: 4px;
      margin: 1px;
      background: #000;
      color: #fff;
    }
    .item:hover{
      cursor: pointer;
    }
    .item.space{
      cursor: pointer;
      background-color: #78cbff; 
    }
    .item.passenger{
      background-color: blue; 
    }
    .item.reserved{
      background-color: grey; 
    }
    .item.selected{
      cursor: pointer;
      background-color: #34ed56;  
    }
    .item.muuri-item-dragging {
      z-index: 3;
    }
    .item.muuri-item-releasing {
      z-index: 2;
    }
    .item.muuri-item-hidden {
      z-index: 0;
    }
    .item-content {
      position: relative;
      width: 100%;
      height: 100%;
    }
/* murri grid css */

.loader{
  position: fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-color:#eceaea;
  background-image:url('/static/img/logo.png');
  background-size: 50px;
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.6;
  filter: alpha(opacity=40);
}