{% extends 'index/manager-base.html' %}

{% block content %}
<div class="row p-2 m-0">
	<div class="col-md-4">
		<h4><span class="fa fa-bus"></span> {{bus.number}}</h4>
		<hr>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>Columns</td><td>{{bus.columns}}</td>
				</tr>
				<tr>
					<td>Rows</td><td>{{bus.rows}}</td>
				</tr>
				<tr>
					<td>Status</td><td>{{bus.status}}</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-bordered">
			<tbody>
				<thead>
					<th colspan="2">Schedule <button data-toggle="modal" data-target="#updateBusScheduleModal" class="float-right"><span class="fa fa-clock-o"></span></button></th>
				</thead>
				<tr>
					<td>Departure</td><td>{{bus.departure_time}}</td>
				</tr>
				<tr>
					<td>Journey</td><td>{{bus.journey}}</td>
				</tr>
				<tr>
					<td>Broadcasting</td><td>{% if bus.broadcast %}YES{% else %}NO{% endif %}</td>
				</tr>
			</tbody>
		</table>
		{% include 'bus/update-bus-schedule-modal.html' %}
	</div>
	<div class="col-md-8">
		{% include 'bus/bus-booking.html' %}
	</div>
</div>

<script>
		let socket;
		$(document).ready(function(){
			socket = io.connect('http://127.0.0.1:5000/');
			socket.emit('join', "{{bus}}")
			socket.on('create_booking_passed', function(grid){
				data.grids[grid.index] = grid
				fillGrid()
				$("#getBusBookingsForm").submit()
				$(".ajaxForm").on('submit', ajaxSubmit)
				$("#createBookingModal").modal('hide')
			})

			socket.on('update_booking_passed', function(grid){
				data.grids[grid.index] = grid
				fillGrid()
				$("#getBusBookingsForm").submit()
				$(".ajaxForm").on('submit', ajaxSubmit)
				$("#updateBookingModal").modal('hide')
			})

			socket.on('delete_booking_passed', function(grid){
				data.grids[grid.index] = grid
				fillGrid()
				$("#getBusBookingsForm").submit()
				$(".ajaxForm").on('submit', ajaxSubmit)
				$("#deleteBookingModal").modal('hide')
			})
		})
	</script>
{% endblock %}