{% extends 'index/manager-base.html' %}

{% block back_and_home %}
	<button class="fa btn btn-link fa-arrow-left fa-2x pt-1 nav-link backTrigger"></button>
{% endblock %}

{% block content %}
<script src="/static/js/muuri.min.js"></script>
<div class="container pt-2">
	<div class="row">
		<div class="col-md-6">
			<div class="row" align="center">
				<div class="col">
					<h3 class="form-control bg-light">{{ bus.number }}</h3>
					<div>
						<img class="img-fluid rounded-circle img-thumbnail p-0" style="width: 3rem;" src="{{url_for('company.get_company_logo', logoname=bus.company.logo)}}" />
					</div>
					<label>{{bus.company}}</label>
					<p>{{bus.journey}}</p>
					<p>{{bus.departure_time|datetimeformat('%a, %d %b %Y %r')}}</p>
					<p id="bookingCountDown" data-stop-time="{{bus.booking_deadline|datetimeformat('%Y-%m-%d %H:%M')}}"></p>
					<div class="onlineStatusBox" id="onLineStatus">
					</div>
				</div>
				<div class="col">
					<p>Select a Seat</p>
					<div id="grid" class="grid border"></div>
					<hr>
					<div class="text-center">
						<a target="_blank" class="" href="{{ url_for('booking.print_bookings', bus_id=bus.id) }}"><span class="fa fa-download"></span> Download Book Sheet</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<form id="createPassengerBookingForm" method="POST" action="{{url_for('booking.create_booking', bus_id=bus.id)}}" autocomplete="off">
				{% include 'booking/create-booking.html' %}
				<div>
		        	<button class="btn btn-block btn-primary">BOOK</button>
		        </div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="ticketModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ticket</h5>
				<div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<button type="button" class="btn btn-light" onclick="openAndAppend('#ticketBox')">
						<span class="fa fa-print"></span>
					</button>
				</div>
			</div>

			<div id="ticketBox" class="modal-body">
				<div align="center">
					<img class="bg-white img-thumbnail rounded-circle p-0" style="width: 3rem;" src="{{url_for('company.get_company_logo', logoname=company.logo)}}" /> 
					<h3>{{company}}</h3>
					<p>{{bus.journey}}</p>
					<p>{{bus.departure_time|datetimeformat('%a, %d %b %Y %r')}}</p>
				</div>
				<div class="ticketBox">
					<div class="d-flex justify-content-center">
			            <div class="spinner-border text-info text-center" role="status" align="center">
			                <span class="sr-only">Loading...</span>
			            </div>
			        </div>
			        <p class="text-center">Please wait...</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	let grid;
	let gridItemClasses = ['space', 'passenger', 'reserved'];
	let data = {
		cols: Number("{{bus.columns}}"),
		rows: Number("{{bus.rows}}"),
		grids: {{ bus.grids_dict() }},
		selected: null,
		bookings: [],
		currentGird: null
	}

	let templater;

	// data: Initialize Muuri grid
	initGrid = function(){
		grid = new Muuri('.grid', {
			dragEnabled: false,
			layoutOnResize: false
		});
	}

	// select a seat
	selectGrid = function(gridId) {
		data.selected = gridId
		// aler(gridId)
		fillGrid()
		// seat = data.grids[seatIndex]
		$('#grid_id').val(gridId);
	}

	$('#grid_id').on("change", (event) => {
		selectGrid(event.target.value)
	})

	// interface: arrange grid items in the grid box
	fillGrid = function(){
		// remove all child elements from the grid box
		$('#grid').html('');

		// calculate and set the width of the grid box
		gridWidth = (data.cols*40) + (data.cols*2)
		$('#grid').width(gridWidth)

		// append grid items into grid box
		for (var i=0; i < data.grids.length; i++) {
			grid = data.grids[i];
			widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><div data-index="${grid.index}" id="${grid.index}" class="item-content">${Boolean(grid.number) ? grid.number : ''}</div></div>`

			if (grid.grid_type == 1) {
				if(grid.booked){
					widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><button data-index="${grid.index}" id="${grid.index}" data-toggle="modal" data-target="#ticketModal" class="item-content bg-dark" onclick="showTicket(${grid.id})">${Boolean(grid.number) ? grid.number : ''}</button</div>`
				}
				else {
					widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><button data-index="${grid.index}" id="${grid.index}" class="item-content" onclick="selectGrid(${grid.id})">${Boolean(grid.number) ? grid.number : ''}</button</div>`
					if (grid.id == data.selected) {
						widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><button data-index="${grid.index}" id="${grid.index}" class="item-content bg-success">${Boolean(grid.number) ? grid.number : ''}</button</div>`
					}
				}
			}
			
			$('#grid').append(widget)	
		}
		// initialize Muuri grid
		initGrid();	
	},

	showTicket = function(gridId){
		data.currentGird = gridId
		booking = data.bookings.filter(booking=>{return booking.booked_grid.id == gridId})
		if (booking.length === 1){
			booking = booking[0]
			console.log(">>>>>>>>>>", booking)
			templater.renderComponent("ticketBox", booking)
		}
	}

	fillGrid()

	$(document).ready(function() {
		setTimeLeft("#bookingCountDown")

		$.get("{{url_for('booking.get_bus_bookings', bus_id=bus.id)}}", function(response) {
	        data.bookings = response.bookings
	        showTicket(data.currentGird)
	    })

		templater = new Templater()

		ws.onmessage = function(msgEvent) {
			var msg = JSON.parse(msgEvent.data);
			var handle = msg.handle
			var msgData = msg.data
			var grid = msg.data.grid
			var bookings = msg.data.bookings
			if (handle === 'create_booking_passed') {
				data.grids[grid.index] = grid
				data.bookings = bookings
				fillGrid()
			}
		};

		ws.onopen = function(){
			data.wsConnected = true
			templater.renderComponent("onlineStatusBox", {isOnline:data.wsConnected})
		}

		ws.onclose = function(){
			data.wsConnected = false
			templater.renderComponent("onlineStatusBox", {isOnline:data.wsConnected})
		};
	});
</script>
{% endblock %}