{% if current_user.is_authenticated %}
	{% extends 'index/passenger-base.html' %}
{% else %}
	{% extends 'index/home-base.html' %}
{% endif %}

{% block buses_active %}active{% endblock %}

{% block content %}
	<script src="/static/js/muuri.min.js"></script>
	<div class="container">
		<h1 class="text-center pt-2">Book Now. Fast to pay takes the seat!</h1>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="row" align="center">
					<div class="col">
						<h3 class="form-control bg-light">{{ bus.number }}</h3>
						<div>
							<img class="img-fluid rounded" style="width: 3rem;" src="{{url_for('company.get_company_logo', logoname=bus.company.logo)}}" />
						</div>
						<label>{{bus.company}}</label>
						<p>{{bus.journey}}</p>
						<p>{{bus.departure_time|datetimeformat('%a, %d %b %Y %r')}}</p>
						<p id="bookingCountDown" data-stop-time="{{bus.booking_deadline|datetimeformat('%Y-%m-%d %H:%M')}}"></p>
					</div>
					<div class="col">
						<p>Select a Seat</p>
						<div id="grid" class="grid border"></div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div id="createPassengerBookingPatch">
					{% include 'booking/create-passenger-booking-form.html' %}
				</div>
			</div>
		</div>
	</div>


	<script>
		let grid;
		let gridItemClasses = ['space', 'passenger', 'reserved'];
		let data = {
			cols: Number("{{bus.columns}}"),
			rows: Number("{{bus.rows}}"),
			grids: {{ bus.grids_dict() }},
			selected: null,
		}

		// data: Initialize Muuri grid
		initGrid = function(){
			grid = new Muuri('.grid', {
				dragEnabled: false,
				layoutOnResize: false
			});
		}

		// select a seat
		selectGrid = function(gridId) {
			data.selected = gridId
			// aler(gridId)
			fillGrid()
			// seat = data.grids[seatIndex]
			$('#grid_id').val(gridId);
		}

		$('#grid_id').on("change", (event) => {
			selectGrid(event.target.value)
		})

		// interface: arrange grid items in the grid box
		fillGrid = function(){
			// remove all child elements from the grid box
			$('#grid').html('');

			// calculate and set the width of the grid box
			gridWidth = (data.cols*40) + (data.cols*2)
			$('#grid').width(gridWidth)

			// append grid items into grid box
			for (var i=0; i < data.grids.length; i++) {
				grid = data.grids[i];
				widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><div data-index="${grid.index}" id="${grid.index}" class="item-content">${Boolean(grid.number) ? grid.number : ''}</div></div>`

				if (grid.grid_type == 1) {
					if(grid.booked){
						widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><button data-index="${grid.index}" id="${grid.index}" class="item-content bg-dark" onclick="alert('Aleady booked!')">${Boolean(grid.number) ? grid.number : ''}</button</div>`
					}
					else {
						widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><button data-index="${grid.index}" id="${grid.index}" class="item-content" onclick="selectGrid(${grid.id})">${Boolean(grid.number) ? grid.number : ''}</button</div>`
						if (grid.id == data.selected) {
							widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><button data-index="${grid.index}" id="${grid.index}" class="item-content bg-success">${Boolean(grid.number) ? grid.number : ''}</button</div>`
						}
					}
				}
				
				$('#grid').append(widget)	
			}

			// initialize Muuri grid
			initGrid();	

		}

		fillGrid()
		let socket;

		$(document).ready(function() {
			setTimeLeft("#bookingCountDown")

			$("#getBusBookingsForm").submit()

			socket = io.connect('{{HOST}}');
			socket.emit('join', "{{bus}}")


			socket.on('disconnect', (data) => {
				socket = io.connect('{{HOST}}');
				socket.emit('join', "{{bus}}")
			})

			
			socket.on('create_booking_passed', function(grid){
				data.grids[grid.index] = grid
				fillGrid()
				$(".ajaxForm").on('submit', ajaxSubmit)
				$("#createBookingModal").modal('hide')
				loadUrl("{{url_for('booking.get_bus_bookings', bus_id=bus.id)}}", "#busBookingsPatch", ["#busBookingsPatch"])

			})

			socket.on('create_booking_failed', function(errors){
				alert(JSON.stringify(errors))
			})

			socket.on('update_booking_passed', function(grid){
				data.grids[grid.index] = grid
				fillGrid()
				$(".ajaxForm").on('submit', ajaxSubmit)
				$("#updateBookingModal").modal('hide')
				loadUrl("{{url_for('booking.get_bus_bookings', bus_id=bus.id)}}", "#busBookingsPatch", ["#busBookingsPatch"])
			})

			socket.on('delete_booking_passed', function(grid){
				data.grids[grid.index] = grid
				fillGrid()
				$(".ajaxForm").on('submit', ajaxSubmit)
				$("#deleteBookingModal").modal('hide')
				loadUrl("{{url_for('booking.get_bus_bookings', bus_id=bus.id)}}", "#busBookingsPatch", ["#busBookingsPatch"])
			})
		});
	</script>
{% endblock %}