{% if current_user.is_authenticated %}
	{% extends 'index/passenger-base.html' %}
{% else %}
	{% extends 'index/home-base.html' %}
{% endif %}

{% block buses_active %}active{% endblock %}

{% block content %}
	<script src="/static/js/muuri.min.js"></script>
	<div class="container">
		<h1 class="text-center pt-2">Book Now. Fast to pay takes the seat!</h1>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="row" align="center">
					<div class="col">
						<h3 class="form-control bg-light">{{ bus.number }}</h3>
						<div>
							<img class="img-fluid rounded" style="width: 3rem;" src="{{url_for('company.get_company_logo', logoname=bus.company.logo)}}" />
						</div>
						<label>{{bus.company}}</label>
						<p>{{bus.journey}}</p>
						<p>{{bus.departure_time|datetimeformat('%a, %d %b %Y %r')}}</p>
						<p id="bookingCountDown" data-stop-time="{{bus.booking_deadline|datetimeformat('%Y-%m-%d %H:%M')}}"></p>
						<div id="onLineStatus">
							OFFLINE
						</div>
					</div>
					<div class="col">
						<p>Select a Seat</p>
						<div id="grid" class="grid border"></div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<form action="{{ url_for('payment.create_payment_checkout', bus_id=bus.id) }}" method="POST">
					{% include 'booking/create-passenger-booking.html' %}
					<div>
			        	<button class="btn btn-block btn-primary">Checkout</button>
			        </div>
				</form>
			</div>
		</div>
	</div>


	<script>
		let grid;
		let gridItemClasses = ['space', 'passenger', 'reserved'];
		let data = {
			cols: Number("{{bus.columns}}"),
			rows: Number("{{bus.rows}}"),
			grids: {{ bus.grids_dict() }},
			selected: null,
		}

		// data: Initialize Muuri grid
		initGrid = function(){
			grid = new Muuri('.grid', {
				dragEnabled: false,
				layoutOnResize: false
			});
		}

		// select a seat
		selectGrid = function(gridId) {
			data.selected = gridId
			// aler(gridId)
			fillGrid()
			// seat = data.grids[seatIndex]
			$('#grid_id').val(gridId);
		}

		$('#grid_id').on("change", (event) => {
			selectGrid(event.target.value)
		})

		// interface: arrange grid items in the grid box
		fillGrid = function(){
			// remove all child elements from the grid box
			$('#grid').html('');

			// calculate and set the width of the grid box
			gridWidth = (data.cols*40) + (data.cols*2)
			$('#grid').width(gridWidth)

			// append grid items into grid box
			for (var i=0; i < data.grids.length; i++) {
				grid = data.grids[i];
				widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><div data-index="${grid.index}" id="${grid.index}" class="item-content">${Boolean(grid.number) ? grid.number : ''}</div></div>`

				if (grid.grid_type == 1) {
					if(grid.booked){
						widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><button data-index="${grid.index}" id="${grid.index}" class="item-content bg-dark" onclick="alert('Aleady booked!')">${Boolean(grid.number) ? grid.number : ''}</button</div>`
					}
					else {
						widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><button data-index="${grid.index}" id="${grid.index}" class="item-content" onclick="selectGrid(${grid.id})">${Boolean(grid.number) ? grid.number : ''}</button</div>`
						if (grid.id == data.selected) {
							widget = `<div class="item ${gridItemClasses[grid.grid_type]}"><button data-index="${grid.index}" id="${grid.index}" class="item-content bg-success">${Boolean(grid.number) ? grid.number : ''}</button</div>`
						}
					}
				}
				
				$('#grid').append(widget)	
			}

			// initialize Muuri grid
			initGrid();	
		}

		updateOnlineStatus = function () {
			if (data.wsConnected) {
				$("#onLineStatus").html("ONLINE")
				return
			}
			$("#onLineStatus").html("OFFLINE")
		}

		fillGrid()

		$(document).ready(function() {
			setTimeLeft("#bookingCountDown")

			ws.onmessage = function(msgEvent) {
				var msg = JSON.parse(msgEvent.data);
				var handle = msg.handle
				var msgData = msg.data
				if (handle === 'create_booking_passed') {
					data.grids[msgData.index] = msgData
					fillGrid()
				}
			};

			ws.onopen = function(){
				data.wsConnected = true
				updateOnlineStatus()
			}

			ws.onclose = function(){
				data.wsConnected = false
				updateOnlineStatus()
				// this.ws = new WebSocket(ws.url);
			};
		});

	</script>
{% endblock %}