{% from 'helpers.html' import render_string_field, render_radio_field, render_boolean_field, render_datetime_field, render_UTC_field %}

<div class="modal fade" id="updateBusScheduleModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Schedule Bus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('bus.update_bus_schedule', bus_id=bus.id) }}">
                <div class="modal-body">
                        {{ update_bus_schedule_form.hidden_tag() }}

                        {{ render_string_field(update_bus_schedule_form.journey_id) }}
                        {{ render_datetime_field(update_bus_schedule_form.departure_time, "bus-schedule-datetimepicker") }}

                        {{ render_radio_field(update_bus_schedule_form.booking_deadline) }}
                        {{ render_boolean_field(update_bus_schedule_form.broadcast) }}
                        {{ render_UTC_field(update_bus_schedule_form.UTC_offset) }}
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{update_bus_schedule_form.submit(class="btn btn-info")}}
                </div>
            </form>
        </div>
    </div>
</div>