<div class="form-group" align="center">
	<div id="image-loader" class="spinner-border text-primary collapse" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div style="max-height: 500; min-height: 500;">
		<img id="image" style="display: block; max-width: 100%" src=""/>
	</div>
</div>

<script type="text/javascript">
	// form data
	let company;
	let logo;
	// var busTypes = ["ORDINARY"];

	var imageId = 'image';
	var cropper;
	
	// var H = document.getElementById('H');
	// var W = document.getElementById('W');
	var h = document.getElementById('h');
	var w = document.getElementById('w');
	var x = document.getElementById('x');
	var y = document.getElementById('y');

	function populateCropValues(h,w,x,y){
		var image = document.getElementById(imageId);
		h.value = event.detail.height
		w.value = event.detail.width
		x.value = event.detail.x
		y.value = event.detail.y
	}

	function crop(){
		var image = document.getElementById(imageId);
		cropper = new Cropper(image,  {
			aspectRatio: 1,
			crop(event) {
				populateCropValues(h,w,x,y)
			}
		})
	}

	function removeCrop(){
		// make new image with new id
		newImgId = Math.random().toString(36).substr(2);
		newImg = $(`<img id="${newImgId}" style="display: block; max-width: 100%">`);
		
		// replace current image with new 
		$(`#${imageId}`).replaceWith(newImg);
		imageId = newImgId

		// remove cropper
		$('.cropper-container').remove()
	}


	function renderImage(tag){

		removeCrop()
		var file = tag.files[0]
		var image = document.getElementById(imageId);
		var reader = new FileReader();
		reader.readAsDataURL(file);
		$('#file-input-label').html(file.name)
		$('#image-loader').removeClass('collapse');
		reader.onload = function(e) {
			image.src = this.result;
			$('#image-loader').addClass('collapse')
			crop()
		}
	}
</script>