{% extends 'base.html' %}

{% block body %}
	<body>
		<div class="bg-light d-flex p-2">
			<div class="d-flex flex-fill">
				<div>
					{% block back_and_home %}
						<button class="fa btn btn-link fa-arrow-left fa-2x pt-1 nav-link backTrigger"></button>
					{% endblock %}
				</div>
				<h2 class="m-1 text-center flex-fill"><strong>Trav<span class="text-info">eler</span></strong></h2>
            </div>
            <button type="button" class="btn btn-link nav-link" data-toggle="dropdown">
				<span class="fa fa-user"></span> {{current_user}}</span>
				<span class="sr-only">unread messages</span>
			</button>

			<div class="dropdown-menu dropdown-menu-right rounded-0 shadow" align="right">
				<a href="{{ url_for('user.update_user_password') }}" class="dropdown-item"><span></span><span class="fa fa-user"></span> Account</a>
				<div class="dropdown-divider"></div>
				<a href="{{ url_for('index.logout') }}" class="dropdown-item"><span class="fa fa-power-off"></span> Logout</a>
			</div>
        </div>

        <hr class="m-1">

		<div>
			{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="alert alert-{{category}} alert-dismissable m-0">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{ message }}
				</div>
			{% endfor %}
		</div>
		
		{% block content %}
		{% endblock %}
	</body>
{% endblock %}