<table class="table table-responsive-sm border">
    <tbody>
        {% for bus in buses %} 
            <tr>
                <td>
                	<span class="fa fa-bus fa-3x"></span>
                </td>
                
                <td class="border m-auto">
                    <p>{{bus.number}}</p>
                    <strong>{{bus.journey}}</strong>
                    <hr>
                    <small>{{bus.departure_time|datetimeformat('%a, %d %b %Y %r')}}</small>
                    <hr>
                    <small>Seats left: <strong>{{bus.unbooked_seats()|length}}</strong></small>
                </td>
                
                <td>
                    <a href="{{url_for('bus.get_passenger_bus', bus_id=bus.id)}}" class='btn btn-outline-info'><span class="fa fa-check-square"></span> Book</a>
                    <hr>
                    <div>
                        <ul class="list-unstyled">
                            {% for pricing in bus.journey.pricings %}
                                <li><small>{{pricing.app_pricing_string()}}</small></li>
                            {% endfor %}                            
                        </ul>
                    </div>
                </td>
            </tr>
        {% else %}
            <div class="container" align="center">
                <p class="display-4 text-muted p-2">No Buses Available!</p>
            </div>
        {% endfor %}
    </tbody>
</table>