{% from 'helpers.html' import render_string_field %}
<div class="login-content">
	<form method="POST" action="{{ url_for('index.login') }}">
		<div class="card-body bg-white">
			{{ login_form.csrf_token }}
			{{ render_string_field(login_form.email) }}
			{{ render_string_field(login_form.password) }}
		    <div align="center" class="border-0">
				<button class="btn btn-info">Login <span class="fa fa-sign-in"></span></button>
				<!-- <hr> -->
				<a href="{{ url_for('auth.reset_password') }}" class="nav-link">Forgot Password</a>
				<hr> Don't have an account?
				<a href="{{ url_for('index.signup') }}" class="nav-link">Signup</a>
			</div>
		</div>
	</form>
</div>