{% from 'helpers.html' import render_string_field, render_UTC_field, render_datetime_field %}
<div>
	<form method="GET" action="{{ url_for('bus.search_buses') }}" >
		{{ search_buses_form.csrf_token }}
		<div class="fromSelectorBox">
		{{ render_string_field(search_buses_form.from_) }}
		</div>
		<div class="toSelectorBox">
		{{ render_string_field(search_buses_form.to) }}
		</div>
		{{ render_datetime_field(search_buses_form.departure_time, "departure-time-datetimepicker", datetime_format="MMMM DD YYYY", min_date=search_buses_form.min_date|datetimeformat('%m/%d/%Y'), max_date=search_buses_form.max_date|datetimeformat('%m/%d/%Y')) }}

		{{ render_UTC_field(search_buses_form.UTC_offset) }}
		<br>
		<div align="center" class="border-0">
			<button class="btn btn-info btn-block"><span class="fa fa-search"></span> Find Bus</button>
		</div>
	</form>
</div>