{% from 'helpers.html' import render_string_field, render_telephone_field %}

<div>
	<form method="POST" action="{{ url_for('profile.create_passenger_profile') }}">
		<!-- <div class="card-body bg-white"> -->
			{{ signup_form.csrf_token }}
			{{ render_string_field(signup_form.first_name) }}
			{{ render_string_field(signup_form.last_name) }}
			{{ render_string_field(signup_form.email) }}
			{{ render_telephone_field(signup_form.telephone, code_field=signup_form.telephone_code) }}
			{{ render_string_field(signup_form.password) }}
			{{ render_string_field(signup_form.confirm_password) }}

		    <div align="center" class="border-0">
				<button class="btn btn-info">Signup	 <span class="fa fa-sign-in"></span></button>
				<hr> Already have an account?
				<a href="{{ url_for('index.login') }}" class="nav-link">Login</a>
			</div>
		<!-- </div> -->
	</form>
</div>
