{% from 'helpers.html' import render_string_field, render_select_field %}

<div class="modal fade" id="createStatusModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('status.create_status', company_id=company.id) }}">
                <div class="modal-body">
                        {{ create_status_form.hidden_tag() }}

                        {{ render_string_field(create_status_form.name, placeholder='eg Ordinary') }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{create_status_form.submit(class="btn btn-info")}}
                </div>
            </form>
        </div>
    </div>
</div>