{% macro render_string_field(field) %}
	<div class='form-group'>
		<small>{{field.label.text}}</small>
		{% if field.errors %}
			{{ field(class="form-control is-invalid", **kwargs)|safe }}
			<div class="invalid-feedback">
				{% for error in field.errors %}
					{{ error }}
				{% endfor %}
			</div>
		{% else %}
		{{ field(class="form-control", **kwargs)|safe }}
		{% endif %} 
	</div>
{% endmacro %}

{% macro render_telephone_field(field, code_field=None) %}
<div class="form-group">
	<small>{{field.label.text}}</small>
	{% if field.errors %}
		{{ field(class="form-control is-invalid", **kwargs)|safe }}
		<div class="invalid-feedback">
			{% for error in field.errors %}
				{{ error }}
			{% endfor %}
		</div>
	{% else %}
	{% if code_field %}
	<div class="input-group">
		<div class="input-group-prepend">
          	{{ code_field }}
        </div>
        {% endif %}
		{{ field(class="form-control", type="number", min="1", max="999999999", **kwargs)|safe }}
		{% endif %} 
	</div>
</div>
{% endmacro %}

{% macro render_radio_field(field) %}
	<div class='form-group'>
		<small>{{field.label.text}}</small>
		{% if field.errors %}
			{{ field(class="is-invalid", **kwargs)|safe }}
			<div class="invalid-feedback">
				{% for error in field.errors %}
					{{ error }}
				{% endfor %}
			</div>
		{% else %}
		{{ field(**kwargs)|safe }}
		{% endif %} 
	</div>
{% endmacro %}

{% macro render_boolean_field(field) %}
	<div class='form-group'>
		{% if field.errors %}
			{{ field(class="is-invalid", **kwargs)|safe }}
			<div class="invalid-feedback">
				{% for error in field.errors %}
					{{ error }}
				{% endfor %}
			</div>
		{% else %}
			{{ field(**kwargs) }} 
			<label for="{{field.id}}">{{field.label.text}}</label>
		{% endif %} 
	</div>
{% endmacro %}


{% macro render_datetime_field(field, datetimepicker_id, datetime_format="MMMM DD YYYY, hh:mm A", inline=True, min_date=None, max_date=None) %}
	<div class="form-group">
		<small>{{field.label.text}}</small>
		{% if field.errors %}
			<div class="input-group date" id="{{datetimepicker_id}}" data-target-input="nearest"> 
				{% if inline %}
					{{ field(type="text", hidden="true", class="form-control is-invalid datetimepicker-input", data_target="#{{datetimepicker_id}}", **kwargs)|safe }}
				{% else %}
					{{ field(type="text", class="form-control is-invalid datetimepicker-input", data_target="#{{datetimepicker_id}}", **kwargs)|safe }}
				{% endif %}
				<div class="input-group-append" data-target="#{{datetimepicker_id}}" data-toggle="datetimepicker"> 
					{% if not inline %}
					<div class="input-group-text">
						<i class="fa fa-calendar"></i>
					</div> 
					{% endif %}
				</div>
				<div class="invalid-feedback">
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
				</div>
			</div>
		{% else %}
		<div class="input-group date" id="{{datetimepicker_id}}" data-target-input="nearest"> 
			{% if inline %}
				{{ field(type="text", hidden="true", class="form-control datetimepicker-input", data_target='#'+datetimepicker_id, **kwargs)|safe }}
			{% else %}
				{{ field(type="text", class="form-control datetimepicker-input", data_target='#'+datetimepicker_id, **kwargs)|safe }}
			{% endif %}
			<div class="input-group-append" data-target="#{{datetimepicker_id}}" data-toggle="datetimepicker">
				{% if not inline %}
				<div class="input-group-text">
					<i class="fa fa-calendar"></i>
				</div> 
				{% endif %}
			</div> 
		</div> 
		{% endif %}
		<!-- <button class="btn btn-block btn-primary">None</button> -->
	</div> 
	<script type="text/javascript"> 
		$(function () {
			$('#{{datetimepicker_id}}').datetimepicker({
				"format":"{{datetime_format}}", 
				"useCurrent":true,
				{%if inline %}"inline":true{%endif%},
				{%if min_date %}"minDate":'{{min_date}}',{%endif%}
				{%if max_date %}"maxDate":'{{max_date}}',{%endif%}
			}); 
		}); 
	</script> 
{% endmacro %}


{% macro render_UTC_field(field, datetimepicker_id) %}
	{{field}}
	<script type="text/javascript"> 
		$(function () {
			$('#UTC_offset').val(moment().format('Z').replace(":", "")); 
		}); 
	</script> 
{% endmacro %}


{% macro render_select_field(field) %}
	<div class='form-group'>
		<small>{{field.label.text}}</small>
		{% if field.errors %}
			{{ field(class="form-control is-invalid", **kwargs)|safe }}
			<div class="invalid-feedback">
				{% for error in field.errors %}
					{{ error }}
				{% endfor %}
			</div>
		{% else %}
		{{ field(**kwargs)|safe }}
	{% endif %} 
	</div>
{% endmacro %}


{% macro render_file_field(field, file_label_id) %}
	<small>{{field.label.text}}</small>
	<div class="custom-file form-group">
		{% if field.errors %}
			{{ field(class="form-control is-invalid", **kwargs)|safe }}
			<div class="invalid-feedback">
				{% for error in field.errors %}
					{{ error }}
				{% endfor %}
			</div>
		{% else %}
		{{ field(class="custom-file-input", **kwargs)|safe }}
		<label id="{{file_label_id}}" class="custom-file-label shadow-sm text-nowrap" for="customFile"></label>
	{% endif %} 
	</div>
{% endmacro %}

<div class="form-row p-2">
	<div class="custom-file form-group">
		<input id="file-input" type="file" name="logo" class="custom-file-input" onchange="renderImage(this)" accept="image/*" title="Choose Logo" id="customFile" required>
		<label id="file-input-label" class="custom-file-label shadow-sm text-nowrap" for="customFile">Company Logo</label>
	</div>
</div>